
.gameBoard {
    background-color: green;
}
h3 {
    color: white;   
    text-align: center;
}

h5 {
    color: white;   
    text-align: center;
}

.handEle {
    height: 200px; 
    padding: 1px;
    margin: 5px;
    list-style: none;
    border: solid black 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.handCard {
    background:grey;
    /*padding: 20px;
    margin: 5px;
    */
    margin: 20px;
    flex: 1  100%;
   width: auto;
    
    
    border: solid black 2px;
    border-radius: 5px;
}




