
body{ 
    background-color: black;
}
h1 {
    color: black;
    text-align: center;
}
.gameBoard {
    width: 1000px;
    border: solid 5px white;
    margin: 0 auto;
    background-color: green;
    padding: 5px;
}
h3 {
    margin-top: 5px;
    color: white;   
    text-align: center;
    
}

h5 {
    margin-top: 5px;
    color: red; 
    text-align: center;
}


.handEle {
    padding: 5px;
    margin: 10px auto;
    border: solid black 5px;
    display: flex;
    min-width: px; 
    height: 205px;
    justify-content: space-around;  
}

.handCard{
    width: 75px;
    height:150;

}

.handCard {
    /*background-color: lightcyan;
    */
    border: solid black 2px;
    border-radius: 5px;
    width: 160px;
    margin: 5px auto;
}
*/

#currentScore {
    display: block;
    margin: 5px auto;
    padding: 5px;   
    background-color: lightgrey;
    text-align: center;
    height: 40px;
    width: 70px;
}

.container {
    display: flex;
    flex-flow: row;
}
.statusPrompt {
margin: auto;
padding: 90px 145px;
background-color: whitesmoke;
align-self: center;
}
.deck {
        height: 205px;
        width: 160px;
        margin: auto 40px;
        background-color: lightcyan;
        border: solid black 2px;
        border-radius: 5px;
}

.btns {
    display: flex;
    justify-content: center; 
}

.btn {
    margin:1px;
    padding: 15px;
}
.onStartPrompt {
    text-align: center;
    width: 160px;
    margin: 10px auto;
    padding: 10px;
    background-color: lightslategray;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}
